div.search_box {
    margin-left: auto;
    margin-right: auto;
    width: 582px;
    margin-top: 198px;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

input.google_search {
    position: relative;
    left: -1px;
    width: 92%;
    margin-right: 8%;
    margin-top: 7px;
    border-radius: 26px;
    height: 42px;
    border-color:#ddd;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    padding-left: 46px;
    background: transparent url(magnifying-glass.png) no-repeat 16px 14px;
}

input.google_search:hover, input.google_search:focus {
    box-shadow: 0 0 4px 1px #ddd;
}

input.search_button {
    position: relative;
    left: -1px;
    margin: 14px 3px 0px 4px;
    background-color: #f2f2f2;
    border-radius: 4px;
    border-width: 0;
    padding: 0px 17px;
    line-height: 27px;
    height: 36px;
    color:#5F6368;
}

input.search_button:hover {
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
}

p {
    text-align: center;
    

}

p.search_button {
    padding-right: 12px;
}

li {
    display: inline;
  }

a div {
    display: inline;
  }

#main_navigation {
    position: absolute;
    left: 10px;
    top: 20px;
}

#secondary_navigation {
    position: absolute;
    right: 25px;
    top: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding-left: 15px;
    color: #000;
    opacity: 75%;
}

li a:hover {
    text-decoration: underline;
}

a.google_store {
    display: inline-block;
    vertical-align: middle;
    background-image: url('i1_1967ca6a.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .55;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    color:#000;
}